<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet"  href="/styles/registration.css">
    <style>
        .bus-image{
        height: 100%;
        width: 100%;
        z-index: -1;
        position:sticky;
        }
       .container-registration{
        position: absolute;
        top: 15%;
        left: 30%;
        height: 100vh;
        width: 40%;
        border: 10px solid black;
        background-color: rgb(212, 248, 250);
       }
       .reg-label{
       margin: 20px;
       }
       .reg-input{
       margin: 20px;
       }
       
    </style>
</head>
<body>
 <%- include("navbar.ejs") %>
   
 <img src="images/buses.png" class="bus-image" alt="">

<div class="container-registration">
    <h1>REGISTRATION FORM</h1> 
    <form action="/register-submit" id="reg-form" method ="post">
            <label for="fname" class="reg-label">Name Of Student :</label>
            <input type="text" class="reg-input" name="fname" required> <br>

            <label for="grade" class="reg-label">grade :</label>
            <input type="number" class="reg-input"  name="grade"> <br>

            <label for="rollnum" class="reg-label">Roll Number :</label>
            <input type="number" class="reg-input"  name="rollnum"> <br>

            <label for="parentname" class="reg-label">Parent /guardian name :</label>
            <input type="text" class="reg-input"  name="parentname"> <br>

            <label for="phonenum" class="reg-label">Phone Number</label>
            <input type="number" class="reg-input"  name="phonenum"> <br>

            <label for="emailadd" class="reg-label">email :</label>
            <input type="email"  class="reg-input" name="emailadd"> <br>

            

            <label for="schoolname">Choose your School</label>

            <select name="schoolname" >
              <option value="xyz">xyz</option>
              <option value="abc">abc</option>
              <option value="mno">mno</option>
              <option value="pqr">pqr</option>
            </select>



            <label for="password" class="reg-label">Password :</label>
            <input type="password"  class="reg-input" name="password"> <br>

            <label for="address" class="reg-label">Pickup Location :</label>
            <input type="text"  class="reg-input" name="address"> <br>
            <% if(locals.error) { %>
                <strong style = "color :red "><%= error %></strong> <br>
                <%}%>
            <input type="submit" value="Submit">
          </form>

   
</div>

</body>
</html>